/*
.wrapper-3t9DeA[style="width: 40px; height: 40px;"] {
    height: 60px !important;
    width: 60px !important;
}
.avatar-17mtNa {
    margin-left: 5px;
    top: -10px;
}
*/
/*
.username-1A8OIy {
    display:flex;
    align-items:center;
}

.avatar-1BDn8e[src*="660699868041314334"] + span::after {
    content:'Theme Dev';
    position:relative;
    color:#fff;
    margin-left:4px;
    text-transform:uppercase;
    background:blue;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
    height: 1.28em;
    padding: .072rem .275rem;
    line-height: 1.28em;
}
*/
/*
Canary only tag
*/
/*
.channel-2QD9_O:nth-of-type(2) {
    display: none;
}
*/
/*
Hides Nitro tab
*/
/*
.bd-toast {
    animation: bd-toast-up 300ms ease !important;
    transform: translateY(-10px);
    background: #36393f;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    font-weight: 500;
    color: #fff;
    user-select: text;
    font-size: 14px;
    opacity: 1;
    margin-top: 10px;
    pointer-events: none;
    user-select: none;
}
*/
/*
.bd-toasts {
    position: fixed;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: fixed;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 4000;
    top: 20px !important;
    right: 20px !important;
}
*/

.avatar-17mtNa .wrapper-3t9DeA{
    width: 60px !important;
    height: 60px !important;
    top: -10px;
}
.contentCozy-3XX413{
    margin-left: 100px;
}
/*
Makes user avatars bigger in chat
*/


/*
.wrapper-1Rf91z .scroller-2FKFPG > .listItem-2P_4kh:nth-last-child(-n+2) {
    display: none;
}
*/

/*
.avatarSpeaking-3MqCHL {
box-shadow: inset 0 0 0 3px red !important;
}
*/
/*
Talking people get red outlines
*/

.members-1998pB {
    width: 400px;
}
.member-3-YXUe {
    max-width: 384px;
}
/*
Members get more space for badges and custom status
*/
/*
.friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ.friendsColumnStatus-ZH4ho2 {
    flex: 0 1 500px;
}
.friendsTable-133bsv .friendsColumnStatus-ZH4ho2 {
    width: 500px;
}
*/
/*
Friends get more space for custom status
*/

.disableInteraction-_YeVcv {
    pointer-events: none;
}
/*
Interact with searched and pinned messages (YouTube videos, profiles)
*/

.theme-dark .isMentioned-N-h9aa{
    background: linear-gradient(to left, rgba(238, 130, 238, .1), rgba(75, 0, 130, .1), rgba(0, 0, 255, .1), rgba(0, 128, 0, .1), rgba(255, 255, 0, .1), rgba(255, 165, 0, .1), rgba(255, 0, 0, .1));
}
.isMentionedCozy-3isp7y:after {
    background: rgba(198,3,252,.5);
    border-left: 4px solid #c603fc;
}
/*
Rainbow mentions with purple starting bar
*/

.theme-light .input-UJ9Tr3 {
    color: #ffffff;
}
/*
Adding a server text is now visible
*/

.buttonWrapper-1ZmCpA[aria-label="Send a gift"] {
    display: none;
}
/*
Removes Nitro Gift button
*/

.userSettingsAccount-2eMFVR div:nth-child(2) > .viewBody-2Qz-jg {
    display: none;
}
/*
Removes email address from 'My Account'
*/

/*
.listItem-2P_4kh .anchor-3Z-8Bb {
    display: -webkit-box;
}
*/
/*
Testing thing I think ???
*/


/*
.listItem-2P_4kh .circleIconButton-jET_ig:nth-last-of-type(1) {
    display: none;
}
*/

/*
.listItem-2P_4kh:not(.listItem-2P_4kh .anchor-3Z-8Bb):nth-last-of-type(1) {
    display: none;
}
*/

/*
.markupRtl-3M0hmN {
  background-image: repeating-linear-gradient(to left, lightcoral, violet, indigo, blue, green, yellow, orange, red, orange, yellow, green, blue, indigo, violet, lightcoral);
  -webkit-background-clip: text;
  color: transparent;
  animation-duration: 20s;
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.markupRtl-3M0hmN .inline {
    color: var(--text-normal);
}

@keyframes rainbow {
  from {
    background-position: 2000px;
  }
  to {
    background-position: -1000px;
  }
}
*/

/*
.modeUnread-1zpFdA{
  animation: tada 1.5s 1 ease-in-out;
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
*/


/*
.attachWrapper-2TRKBi {
    border-right: 0px;
}
.form-2fGMdU {
    border-top: 0px;
}
*/



/*
.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #ffffff;
    --text-muted: #7d7d7d;
    --text-link: #f4b100;
    --channels-default: #bcbcbc;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dddddd;
    --interactive-active: #fff;
    --interactive-muted: #525252;
    --background-primary: #1a1a1a;
    --background-secondary: #1d1d1d;
    --background-tertiary: #1a1a1a;
    --background-accent: #2d2d2d;
    --background-floating: #2d2d2d;
    --background-mobile-header: #3a3a3a;
    --background-modifier-hover: rgba(88, 88, 88, 0.16);
    --background-modifier-active: rgba(79, 79, 79, 0.24);
    --background-modifier-selected: rgba(90, 90, 90, 0.32);
    --background-modifier-accent: hsla(33, 100%, 33%, 0.1);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.29);
    --logo-primary: #fff;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #101010;
    --activity-card-background: #222222;
    --textbox-markdown-syntax: #888888;
    --deprecated-panel-background: #00000033;
    --deprecated-card-bg: rgba(32, 34, 37, 0.64);
    --deprecated-card-editable-bg: rgba(35, 35, 35, 0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
*/
